<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>基金看板</title>
    <script src="https://unpkg.com/vue@3.0.11"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-plus/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-plus/lib/index.full.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/bignumber.js/9.0.1/bignumber.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <style>
        body,
        html {
            font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
            padding: 0;
            margin: 0;
        }

        .plus {
            color: red;
        }

        .minus {
            color: green;
        }
    </style>
</head>

<body>
    <div id="app">
        <el-container>
            <el-header style="border-bottom: 1px solid #ccc;">
                <el-row>
                    <el-col :span="8" :offset="4">
                        <el-link href="/" :underline="false"><h1>基金看板</h1></el-link>
                    </el-col>
                    <el-col :span="8" style="text-align: right;line-height: 60px;">
                        <el-link href="https://github.com/zhangkong828/fund" target="_blank" :underline="false">GitHub</el-link>
                    </el-col>
                </el-row>
            </el-header>
            <el-main>
                <el-row>
                    <el-col :span="8" :offset="8">
                        <el-card shadow="hover">
                            <el-descriptions title="资金总览" :column="1">
                                <template #extra>
                                    <el-button type="primary" size="small" @click="dialogFundVisible = true">基金管理
                                    </el-button>
                                </template>
                                <el-descriptions-item label="总金额(元)"><span class="plus">{{totalMoney}}</span>
                                </el-descriptions-item>
                                <el-descriptions-item label="持有收益(元)"><span
                                        :class="[totalProfit>0?'plus':'minus']">{{totalProfit}}</span>
                                </el-descriptions-item>
                                <el-descriptions-item label="预估收益(元)"><span
                                        :class="[totalEstimate>0?'plus':'minus']">{{totalEstimate}}</span>
                                </el-descriptions-item>
                            </el-descriptions>
                        </el-card>
                    </el-col>
                </el-row>
                <el-row>
                    <el-col :span="16" :offset="4">
                        <el-divider content-position="left">数据总览</el-divider>
                        <el-table :data="fundInfo" border>
                            <el-table-column prop="code" label="基金代码"></el-table-column>
                            <el-table-column prop="name" label="基金名称" width="200"></el-table-column>
                            <el-table-column label="持有金额(元)" sortable :sort-by="['jzj']">
                                <template #default="scope">
                                    <el-popover effect="light" trigger="hover" placement="top">
                                        <template #default>
                                            <p>持仓单价: {{ scope.row.ccdj.toString() }}</p>
                                            <p>持仓份额: {{ scope.row.ccfe.toString() }}</p>
                                            <p>成本价: {{ scope.row.ccj.toFixed(2) }}</p>
                                        </template>
                                        <template #reference>
                                            <p class="plus">{{ scope.row.jzj.toFixed(2) }}</p>
                                        </template>
                                    </el-popover>
                                </template>
                            </el-table-column>
                            <el-table-column label="净值">
                                <template #default="scope">
                                    <p>{{ scope.row.dwjz.toString()}}</p>
                                    <p>{{ scope.row.jzrq.toString() }}</p>
                                </template>
                            </el-table-column>
                            <el-table-column label="持有收益(元)" sortable :sort-by="['jzyl']">
                                <template #default="scope">
                                    <p :class="[scope.row.jzyl>0?'plus':'minus']">{{ scope.row.jzyl.toFixed(2) }}</p>
                                </template>
                            </el-table-column>
                            <el-table-column label="估值" sortable :sort-by="['gszzl']">
                                <template #default="scope">
                                    <div v-if="scope.row.gztime>today">
                                        <p>
                                            <span
                                                :class="[scope.row.gszzl>0?'plus':'minus']">{{scope.row.gszzl.toString()}}%</span>
                                            [<span>{{scope.row.gsz.toString()}}</span>]
                                        </p>
                                        <p>{{ scope.row.gzdate }}</p>
                                    </div>
                                    <div v-else>--</div>
                                </template>
                            </el-table-column>
                            <el-table-column label="今日预估(元)" sortable :sort-by="['gzyl']">
                                <template #default="scope">
                                    <div v-if="scope.row.gztime>today">
                                        <p :class="[scope.row.gzyl>0?'plus':'minus']">{{ scope.row.gzyl.toFixed(2) }}
                                        </p>
                                    </div>
                                    <div v-else>--</div>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-col>
                </el-row>
            </el-main>
        </el-container>
        <el-dialog title="基金管理" v-model="dialogFundVisible" :close-on-click-modal="false">
            <el-button type="primary" @click="fundIndex=-1;dialogFundAddVisible=true;" size="mini">添加</el-button>
            <el-table :data="funds" style="width: 100%" max-height="450">
                <el-table-column prop="code" label="基金代码">
                </el-table-column>
                <el-table-column prop="ccdj" label="持仓单价">
                </el-table-column>
                <el-table-column prop="ccfe" label="持仓份额">
                </el-table-column>
                <el-table-column label="操作">
                    <template #default="scope">
                        <el-button
                            @click.native.prevent="fundIndex=scope.$index;Object.assign(fundForms, scope.row);dialogFundAddVisible=true;"
                            size="mini">编辑</el-button>
                        <el-button @click.native.prevent="funds.splice(scope.$index, 1);" type="danger" size="mini">移除
                        </el-button>
                    </template>
                </el-table-column>
            </el-table>
            <el-dialog :title="fundIndex==-1?'添加':'编辑'" v-model="dialogFundAddVisible" append-to-body
                @close="closeForms">
                <el-form :model="fundForms">
                    <el-form-item label="基金代码">
                        <el-input v-model="fundForms.code" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="持仓单价">
                        <el-input v-model.number="fundForms.ccdj" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="持仓份额">
                        <el-input v-model.number="fundForms.ccfe" autocomplete="off"></el-input>
                    </el-form-item>
                </el-form>
                <template #footer>
                    <span class="dialog-footer">
                        <el-button @click="dialogFundAddVisible = false">取 消</el-button>
                        <el-button type="primary" @click="submitFund">确 定</el-button>
                    </span>
                </template>
            </el-dialog>
        </el-dialog>
    </div>
    <script>
        function jsonpgz(data) {
            return (data);
        }
        const App = {
            data() {
                return {
                    dialogFundVisible: false,
                    dialogFundAddVisible: false,
                    funds: [],
                    fundIndex: -1,
                    fundForms: {
                        code: "",//基金代码
                        ccdj: 0,//持仓单价
                        ccfe: 0//持仓份额
                    },
                    fundInfo: []
                }
            },
            computed: {
                today() { return moment().startOf('day'); },
                totalMoney() {
                    return this.fundInfo.reduce((total, item) => total.plus(item.jzj), new BigNumber(0)).toFixed(2);
                },
                totalProfit() {
                    return this.fundInfo.reduce((total, item) => total.plus(item.jzyl), new BigNumber(0)).toFixed(2);
                },
                totalEstimate() {
                    return this.fundInfo.reduce((total, item) => total.plus(item.gzyl), new BigNumber(0)).toFixed(2);
                }
            },
            watch: {
                funds: {
                    handler: 'fundsSync',
                    deep: true
                }
            },
            methods: {
                initFunds() {
                    var val = localStorage.getItem('funds');
                    if (val != null) {
                        this.funds = JSON.parse(val);
                        if (this.funds.length != 0) return;
                    }
                    this.funds.push({ code: "161725", ccdj: 1.2507, ccfe: 8000 });//白酒 yyds
                    this.$message.error({ showClose: true, message: '请先添加基金代码' });
                },
                submitFund() {
                    if (this.fundIndex == -1) {
                        this.funds.push(this.fundForms);
                    } else {
                        Object.assign(this.funds[this.fundIndex], this.fundForms);
                    }
                    this.dialogFundAddVisible = false;
                },
                closeForms() {
                    this.fundForms = this.$options.data.call(this).fundForms;
                },
                fundsSync(newValue, oldValue) {
                    var str = JSON.stringify(newValue);
                    localStorage.setItem('funds', str);
                    this.refresh();
                },
                refresh() {
                    var that = this;
                    if (that.funds.length > 0) {
                        var running = false, runIndex = 0, interval = 0;
                        interval = setInterval(function () {
                            if (runIndex >= that.funds.length) {
                                clearInterval(interval);
                            } else {
                                if (!running) {
                                    running = true;
                                    var url = "http://fundgz.1234567.com.cn/js/" + that.funds[runIndex].code + ".js";
                                    $.ajax({
                                        url: url,
                                        type: "GET",
                                        cache: false,
                                        dataType: "jsonp",
                                        jsonpCallback: "jsonpgz",
                                        success: function (res) {
                                            console.log(res);
                                            var newInfo = that.compute(res);
                                            var info = that.fundInfo.find(x => x.code == newInfo.code);
                                            if (info) {
                                                Object.assign(info, newInfo);
                                            } else {
                                                that.fundInfo.push(newInfo);
                                            }
                                        },
                                        complete: function () {
                                            runIndex++;
                                            running = false;
                                        }
                                    })
                                }
                            }
                        }, 100);
                    }
                },
                compute(res) {
                    var fundcode = res["fundcode"];
                    var fund = this.funds.find(i => i.code == fundcode);
                    var info = { code: fundcode };
                    info.ccdj = new BigNumber(fund.ccdj);
                    info.ccfe = new BigNumber(fund.ccfe);
                    //持仓价
                    info.ccj = info.ccdj.times(info.ccfe);
                    info.name = res["name"];
                    //单位净值
                    info.dwjz = new BigNumber(res["dwjz"]);
                    //净值日期
                    info.jzrq = res["jzrq"];
                    //估算值
                    info.gsz = new BigNumber(res["gsz"]);
                    //估算增长率
                    info.gszzl = new BigNumber(res["gszzl"]);
                    //估值日期
                    info.gztime = new Date(res["gztime"]);
                    info.gzdate = moment(info.gztime).format("YYYY-MM-DD");
                    //净值价=单位净值*持仓份额
                    info.jzj = info.dwjz.times(info.ccfe);
                    //净值盈利=净值价-持仓价
                    info.jzyl = info.jzj.minus(info.ccj);
                    //估值价=估算值*持仓份额
                    info.gzj = info.gsz.times(info.ccfe);
                    //估值盈利=估值价-净值价
                    info.gzyl = info.gzj.minus(info.jzj);
                    return info;
                },
            },
            mounted() {
                this.initFunds();
                setInterval(this.refresh, 1000 * 60);
            }
        }
        Vue.createApp(App).use(ElementPlus).mount('#app')
    </script>
</body>

</html>